*{
    font-size: 17px;
}

.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-origin: padding-box;
}

.navHalf1 {
    padding-left: 7%;
    display: flex;
    align-items: center;
}

.navHalf1 ul{
    display: flex;
    list-style-type: none;
}

.navHalf1 ul > li{
    margin-left: 30px;
}

.navHalf2 {
    padding-right: 7%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    font-size: 25px;
}